   <!-- common functions -->
    <script src="{{urlBase}}{{Css}}assets/js/common.min.js"></script>
    <!-- uikit functions -->
    <script src="{{urlBase}}{{Css}}assets/js/uikit_custom.min.js"></script>
    <!-- altair common functions/helpers -->
    <script src="{{urlBase}}{{Css}}assets/js/altair_admin_common.min.js"></script>

    <!-- page specific plugins -->
        <!-- d3 -->
        <script src="{{urlBase}}{{Css}}bower_components/d3/d3.min.js"></script>
        <!-- metrics graphics (charts) -->
        <script src="{{urlBase}}{{Css}}bower_components/metrics-graphics/dist/metricsgraphics.min.js"></script>
        <!-- chartist (charts) -->
        <script src="{{urlBase}}{{Css}}bower_components/chartist/dist/chartist.min.js"></script>
        <!-- peity (small charts) -->
        <script src="{{urlBase}}{{Css}}bower_components/peity/jquery.peity.min.js"></script>
        <!-- easy-pie-chart (circular statistics) -->
        <script src="{{urlBase}}{{Css}}bower_components/jquery.easy-pie-chart/dist/jquery.easypiechart.min.js"></script>
        <!-- countUp -->
        <script src="{{urlBase}}{{Css}}bower_components/countUp.js/countUp.min.js"></script>
        <!-- handlebars.js -->
        <script src="{{urlBase}}{{Css}}bower_components/handlebars/handlebars.min.js"></script>
        <script src="{{urlBase}}{{Css}}assets/js/custom/handlebars_helpers.min.js"></script>
        <!-- CLNDR -->
        <script src="{{urlBase}}{{Css}}bower_components/clndr/src/clndr.js"></script>
        <script type="text/javascript" src="{{urlBase}}{{Css}}bower_components/moment/locale/pt-br.js"></script>
        <!-- fitvids -->
        <script src="{{urlBase}}{{Css}}bower_components/fitvids/jquery.fitvids.js"></script>

        <!--  dashbord functions -->
        <script src="{{urlBase}}{{Css}}assets/js/pages/dashboard.min.js"></script>
    
    <script>
        $(function() {
            // enable hires images
            altair_helpers.retina_images();
            // fastClick (touch devices)
            if(Modernizr.touch) {
                FastClick.attach(document.body);
            }
        });
    </script>


</body>
</html>